body, p{
	margin : 0;
	font-family : Arial;
}


.navigasi{
	background-color:orangered;
	width : 100%;
	height: 50px;
	display : flex;
	position : fixed;
	top : 0;
	justify-content : center;
	
}
.navigasi p{
	font-size : 20px;
	color : white;
}
.kotak_didalam_nav{
	display : flex;
	justify-content : space-between;
	align-items:center;
	width : 60%;
	
}

.kotak_latar{
	margin: auto;
	width : 60%;
}
.kotak_konten{
	margin-top:130px;
	background-color : yqellow;
	
}

.kotak_brand_tb{
	display : flex;
	margin:auto;
	
	height : 200px;
	background-color : navy;
	border-radius:10px;
	box-shadow : 5px 5px 5px rgba(0, 0, 0, 0.4);
	align-items : center;
	gap : 20px;
	padding : 10px;
}

.kotak_brand_tb p{
	font-size : 70px;
	padding : 20px;
	color : white;
	text-shadow: 4px 4px 5px rgb(254,183,7,0.47),8px 8px 5px rgb(254,183,7,0.45),12px 12px 5px rgb(254,183,7,0.42),16px 16px 5px rgb(254,183,7,0.40),20px 20px 5px rgb(254,183,7,0.37),24px 24px 5px rgb(254,183,7,0.35),28px 28px 5px rgb(254,183,7,0.32),32px 32px 5px rgb(254,183,7,0.30),36px 36px 5px rgb(254,183,7,0.27),40px 40px 5px rgb(254,183,7,0.25),44px 44px 5px rgb(254,183,7,0.22),48px 48px 5px rgb(254,183,7,0.20),52px 52px 5px rgb(254,183,7,0.17),56px 56px 5px rgb(254,183,7,0.15),60px 60px 5px rgb(254,183,7,0.12),64px 64px 5px rgb(254,183,7,0.10),68px 68px 5px rgb(254,183,7,0.07),72px 72px 5px rgb(254,183,7,0.05),76px 76px 5px rgb(254,183,7,0.02),80px 80px 5px rgb(254,183,7,-0.00);
	
}
.kotak_tb{
	
	
	
	display : flex;
	justify-content : center;
	padding : 20px;
	
	width:60%;
	flex-direction : column;
	background-color : yaellow;
}

.kotak_tb label, input{
	color : white;
	font-size : 24px;
	
}

.kotak_tb input::file-selector-button{
	background-color : navy;
	border : 1px solid white;
	border-radius : 10px;
	height : 100%;
	color : white;
	padding : 0 10px 0 10px;
}
.kotak_tb input{
	border : 1px dashed white;
	background-color : orangered;
	margin-top : 20px;
	height : 60px;
	padding: 5px;
}

.kotak_gbr{
	margin-top : 10px;
	border : 1px dashed orangered;
	display : flex;
	justify-content : space-between;
	background-color : grey;
}

.kotak_gbr img{
	width : 300px;
}

.kotak_teks_base64{
	display:flex;
	flex-direction : column;
	width : 67%;
	padding-right :10px;
	padding-bottom : 10px;
}
.kotak_teks_base64 h1{
	color : white;
	text-align : left;
}

.kotak_teks_base64 textarea{
	border : 1px solid white;
}

